:host {
    display: flex;
    width: 100%;
    background-color: var(--dark-color);
    padding: 1em 2em;
    border-radius: 1em;
    border: 1px solid var(--green-color);
}

.text {
    width: 100%;
    color: var(--green-color);
    text-align: center;
    margin: 0;
    font-size: 1.25em;
}