:host {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid var(--green-color);
    background-color: var(--dark-color);
    border-radius: 1em;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    color: var(--green-color);
}

.show-icon {
    position: absolute;
    font-size: 1.5em;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
}

.group-name {
    width: 100%;
    padding: 0.5em 0.25em;
    margin: 0;
    text-align: center;
}

.group-content-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows var(--basic-transition) ease;

    &.collapsed {
        grid-template-rows: 0fr;

        .group-content {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.group-content {
    display: flex;
    flex-flow: row wrap;
    padding: 1em;
    gap: 1em;
    overflow: hidden;
    min-height: 0;
    transition: padding var(--basic-transition) ease;
}