:host {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 3em) auto;
    gap: 1em;
    
    & > .text-wrapper {
        background: var(--dark-color);
        border-radius: 1em;
        height: 100%;
        display: flex;              
        align-items: center;
        justify-content: center;
        border: 1px solid var(--green-color);
    }

    & > .icon-wrapper {
        display: flex;              
        align-items: center;
        justify-content: center;
        background: none;
        border: 1px solid transparent;
        padding: 0;
        border-radius: 1em;
        overflow: hidden; 
        background-color: var(--green-color);
        border: 1px solid var(--green-color);
        transition: background-color var(--quick-transition) ease, border-color var(--quick-transition) ease;
        cursor: pointer;

        &.alt {
            background-color: var(--dark-color);
        }

        & > .back-icon {
            color: var(--dark-color);
            font-size: 3em;
            transition: color var(--quick-transition) ease;
        }

        & > .home-icon {
            color: var(--green-color);
            font-size: 2em;
            transition: color var(--quick-transition) ease;
            z-index: 100;
        }

        &:hover {
            background-color: var(--dark-color);
            border: 1px solid var(--dark-color);

            &.alt {
                background-color: var(--green-color);
            }

            & > .back-icon {
                color: var(--green-color);
            }

            & > .home-icon {
                color: var(--dark-color);
            }
        }
    }
}

.text {
    width: 100%;
    color: var(--green-color);
    text-align: center;
    margin: 0;
}