:host {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 100%;
    color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    border-radius: 1em;
}

.header {
    padding: 1em 0.5em;
}

.name {
    text-align: center;
    font-size: 1.15em;
    margin: 0;
}

.main {
    padding: 1em 0.5em;
}

.description {
    margin: 0;
}