:host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    line-height: 0;
    flex-shrink: 0;
}
  
.icon {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
    transition: var(--basic-transition);
}